on: push

jobs:
  git-sync:
    runs-on: ubuntu-latest
    steps:
      - name: git-sync
        uses: wei/git-sync@v3
        with:
          source_repo: 'pulse-browser/website'
          source_branch: 'main'
          destination_repo: 'trickypr/pulse-website'
          destination_branch: 'main'
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
